<launch>
  <param name="small_plant_Cube.016_description" command="$(find xacro)/xacro --inorder '$(find rowcrop_world)/urdf/small_plant_Cube.016.urdf.xacro'" />

  <node name="spawn_small_plant_Cube.016" pkg="gazebo_ros" type="spawn_model" args="-param small_plant_Cube.016_description -urdf -model small_plant_Cube.016" respawn="false" />
</launch>