<launch>
  <param name="small_plant_Plane_description" command="$(find xacro)/xacro --inorder '$(find rowcrop_world)/urdf/small_plant_Plane.urdf.xacro'" />

  <node name="spawn_small_plant_Plane" pkg="gazebo_ros" type="spawn_model" args="-param small_plant_Plane_description -urdf -model small_plant_Plane" respawn="false" />
</launch>