<launch>
  <param name="small_plant_Cube.021_description" command="$(find xacro)/xacro --inorder '$(find rowcrop_world)/urdf/small_plant_Cube.021.urdf.xacro'" />

  <node name="spawn_small_plant_Cube.021" pkg="gazebo_ros" type="spawn_model" args="-param small_plant_Cube.021_description -urdf -model small_plant_Cube.021" respawn="false" />
</launch>