<launch>
  <param name="small_plant_Cube.015_description" command="$(find xacro)/xacro --inorder '$(find rowcrop_world)/urdf/small_plant_Cube.015.urdf.xacro'" />

  <node name="spawn_small_plant_Cube.015" pkg="gazebo_ros" type="spawn_model" args="-param small_plant_Cube.015_description -urdf -model small_plant_Cube.015" respawn="false" />
</launch>