<launch>
  <param name="small_plant_Cube.024_description" command="$(find xacro)/xacro --inorder '$(find rowcrop_world)/urdf/small_plant_Cube.024.urdf.xacro'" />

  <node name="spawn_small_plant_Cube.024" pkg="gazebo_ros" type="spawn_model" args="-param small_plant_Cube.024_description -urdf -model small_plant_Cube.024" respawn="false" />
</launch>